# Cuenta de varios servicios de Azure AI
AZURE_LANGUAGE_KEY=tu_clave_multi_servicio
AZURE_LANGUAGE_ENDPOINT=https://vision-1548372.cognitiveservices.azure.com/

# Cuenta de varios servicios de Azure AI
AZURE_VISION_KEY=tu_clave_computer_vision
AZURE_VISION_ENDPOINT=https://computer-ai-1548372.cognitiveservices.azure.com/

AZURE_OPENAI_KEY=tu_clave_de_openai_en_foundry
AZURE_OPENAI_ENDPOINT=https://tu-recurso-openai.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=nombre_del_modelo_desplegado_ej_gpt4